---
author: phwl
comments: true
date: 2023-01-06 09:30:00 AEST
title: Hawkesbury River Trip with Dr Phil
use_math: true
toc: true
classes: wide
categories:
- travel
tags:
- fishing
header:
  teaser: /assets/images/2022/03/win11.png
---

{% include figure image_path="/assets/images/2022/03/IMG_1756.jpeg" caption="" %}
{% include figure image_path="/assets/images/2022/03/IMG_1763.jpeg" caption="" %}
{% include figure image_path="/assets/images/2022/03/IMG_1765.jpeg" caption="" %}
{% include figure image_path="/assets/images/2022/03/IMG_1766.jpeg" caption="" %}
{% include figure image_path="/assets/images/2022/03/IMG_1774.jpeg" caption="" %}
{% include figure image_path="/assets/images/2022/03/IMG_1789.jpeg" caption="" %}
{% include figure image_path="/assets/images/2022/03/IMG_1792.jpeg" caption="" %}
{% include figure image_path="/assets/images/2022/03/IMG_1793.jpeg" caption="" %}
{% include figure image_path="/assets/images/2022/03/IMG_1810.jpeg" caption="" %}
{% include figure image_path="/assets/images/2022/03/IMG_1817.jpeg" caption="" %}
{% include figure image_path="/assets/images/2022/03/IMG_1819.jpeg" caption="" %}
{% include figure image_path="/assets/images/2022/03/IMG_1821.jpeg" caption="" %}
{% include figure image_path="/assets/images/2022/03/IMG_1822.jpeg" caption="" %}

